/*
    font face
 */
@font-face {
  font-family: "EBGaramond-Regular";
  src: url("../fonts/EBGaramond-Regular.woff");
}

@font-face {
  font-family: "YesevaOne-Regular";
  src: url("../fonts/YesevaOne-Regular.woff");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.woff");
}

@font-face {
  font-family: "Oswald-Bold";
  src: url("../fonts/Oswald-Bold.woff");
}

@font-face {
  font-family: "Oswald-Regular";
  src: url("../fonts/Oswald-Regular.woff");
}

/*
    general style
 */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  background: #0C0C0C;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #000;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 979px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 94%;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
    min-width: 290px;
  }
}

a {
  display: block;
  text-decoration: none;
  text-align: center;
}

a:active, a:focus {
  outline: none;
}

img {
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1, h2 {
  font-family: "YesevaOne-Regular", sans-serif;
  font-size: 60px;
  line-height: 69px;
  letter-spacing: 0.01em;
  max-width: 765px;
  margin: 18px auto 36px;
  text-align: center;
  color: #fff;
}

h3 {
  font-family: "EBGaramond-Regular", sans-serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

h5 {
  font-family: "EBGaramond-Regular", sans-serif;
  font-size: 25px;
  line-height: 33px;
  letter-spacing: 0.015em;
  color: #fff;
  text-align: center;
}

h6 {
  line-height: 24px;
}

p.big {
  line-height: 24px;
}

.logo svg {
  display: block;
}

.sale span {
  font-family: "Oswald-Bold", sans-serif;
  font-size: 96px;
  line-height: 142px;
  text-transform: uppercase;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  color: #fff;
}

@media (max-width: 767px) {
  .sale span {
    font-size: 80px;
    line-height: 118px;
  }
}

@media (max-width: 576px) {
  .sale span {
    font-size: 64px;
    line-height: 95px;
  }
}

.sale span strong {
  display: block;
  font-size: 72px;
  line-height: 107px;
  margin-top: -27px;
}

@media (max-width: 767px) {
  .sale span strong {
    font-size: 60px;
    line-height: 88px;
  }
}

@media (max-width: 576px) {
  .sale span strong {
    font-size: 48px;
    line-height: 71px;
  }
}

.price {
  text-align: center;
}

.price span {
  font-family: "Oswald-Bold", sans-serif;
}

.price span.old-price {
  font-size: 24px;
  line-height: 36px;
  display: inline-block;
  position: relative;
  margin-right: 44.08px;
}

@media (max-width: 767px) {
  .price span.old-price {
    font-family: "Oswald-Regular", sans-serif;
    margin-right: 8px;
  }
}

.price span.old-price:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  top: 60%;
  left: 0;
  -webkit-transform: translateY(-55%);
      -ms-transform: translateY(-55%);
          transform: translateY(-55%);
}

.price span.new-price {
  font-size: 48px;
  line-height: 71px;
  background: -o-linear-gradient(356.73deg, #fe5555 0.08%, #fe9255 99.94%);
  background: linear-gradient(93.27deg, #fe5555 0.08%, #fe9255 99.94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fe5555;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .price span.new-price {
    background: transparent;
  }
}

.to-order a, .to-order button, .form-group.order a, .form-group.order button {
  font-family: "Oswald-Bold", sans-serif;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 16px 0 17px;
  border: none;
  position: relative;
  z-index: 9;
}

.to-order a:before, .to-order a:after, .to-order button:before, .to-order button:after, .form-group.order a:before, .form-group.order a:after, .form-group.order button:before, .form-group.order button:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.to-order a:before, .to-order button:before, .form-group.order a:before, .form-group.order button:before {
  background: -o-linear-gradient(356.73deg, #fe5555 0.08%, #fe9255 99.94%);
  background: linear-gradient(93.27deg, #fe5555 0.08%, #fe9255 99.94%);
}

.to-order a:after, .to-order button:after, .form-group.order a:after, .form-group.order button:after {
  background: -o-linear-gradient(356.7deg, #fe9255 0%, #fe5555 100%);
  background: linear-gradient(93.3deg, #fe9255 0%, #fe5555 100%);
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.to-order a:hover:after, .to-order button:hover:after, .form-group.order a:hover:after, .form-group.order button:hover:after {
  opacity: 1;
}

.to-order {
  margin: 32px auto 0;
  max-width: 250px;
}

@media (max-width: 576px) {
  .to-order {
    width: 81%;
    min-width: 250px;
    max-width: 380px;
  }
}

.to-order p {
  text-align: center;
  margin-top: 32px;
}

@media (max-width: 979px) {
  .to-order p {
    margin-top: 13px;
  }
}

.gallery, .photo {
  position: relative;
  z-index: 11;
}

.gallery__content, .photo__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1920px;
  padding: 0 6px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media (max-width: 767px) {
  .gallery__content, .photo__content {
    padding: 0 15px;
  }
}

.gallery__content > a, .photo__content > a {
  width: 19.2%;
  max-width: 365px;
  -webkit-filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .gallery__content > a, .photo__content > a {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 1599px) {
  .gallery__content > a, .photo__content > a {
    width: 19%;
  }
}

.gallery__content > a img, .photo__content > a img {
  width: 100%;
}

.owl-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.owl-dots button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 7px;
  height: 7px;
  background: transparent !important;
  border: 1px solid #fff !important;
  border-radius: 50%;
  margin-right: 9px;
}

.owl-dots button.active {
  background: #fff !important;
}

a.cart {
  width: 90px;
  height: 90px;
  background: -o-linear-gradient(356.73deg, #fe5555 0.08%, #fe9255 99.94%);
  background: linear-gradient(93.27deg, #fe5555 0.08%, #fe9255 99.94%);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 576px) {
  a.cart {
    width: 50px;
    height: 50px;
    right: 15px;
  }
}

a.cart:after {
  content: "";
  display: block;
  width: 50px;
  height: 44px;
  background: url("../img/cart.png") no-repeat center/cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 576px) {
  a.cart:after {
    width: 28px;
    height: 26px;
  }
}

a.cart:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: -o-linear-gradient(358.33deg, #fca7e4 0%, #a87eff 100%);
  background: linear-gradient(91.67deg, #fca7e4 0%, #a87eff 100%);
  z-index: 99999;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.loader__snow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/snowflake1.png"), url("../img/snowflake2.png"), url("../img/snowflake3.png");
  -webkit-animation: snow 20s linear infinite;
          animation: snow 20s linear infinite;
}

@-webkit-keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

@keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

.header {
  padding: 19px;
}

.header__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content li {
  position: relative;
  padding: 20px 0;
}

.header__content li a {
  font-family: "EBGaramond-Regular", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}

.header__content li > ul {
  position: absolute;
  bottom: -72px;
  left: -21px;
  background: #000000;
  -webkit-box-shadow: 0px 1px 16px rgba(255, 255, 255, 0.36);
          box-shadow: 0px 1px 16px rgba(255, 255, 255, 0.36);
  padding: 13px 20px 18px;
  opacity: 0;
  -webkit-transition: all 0.55s ease-in-out;
  -o-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out;
}

.header__content li > ul li {
  padding: 0;
}

.header__content li > ul li:first-child {
  margin-bottom: 8px;
}

.header__content li:nth-child(5) {
  padding: 0;
}

.header__content li:hover > ul {
  opacity: 1;
}

.first {
  padding: 104px 0 91.83px;
}

.first__content {
  text-align: center;
}

.first__content p.name {
  font-family: "YesevaOne-Regular", sans-serif;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.02em;
  color: #F3725A;
  text-transform: uppercase;
}

.first__content a.link {
  font-family: "EBGaramond-Regular", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  letter-spacing: 0.015em;
  color: #FFFFFF;
  width: 260px;
  padding: 19px 0 18px;
  margin: 0 auto;
  -webkit-transition: all 0.65s ease-in-out;
  -o-transition: all 0.65s ease-in-out;
  transition: all 0.65s ease-in-out;
  position: relative;
  z-index: 9;
}

.first__content a.link:before {
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(-38.98%, #A45FA6), color-stop(137.4%, #F3725A));
  background: -o-linear-gradient(left, #A45FA6 -38.98%, #F3725A 137.4%);
  background: linear-gradient(90deg, #A45FA6 -38.98%, #F3725A 137.4%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.first__content a.link:after {
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(-38.98%, #F3725A), color-stop(137.4%, #A45FA6));
  background: -o-linear-gradient(left, #F3725A -38.98%, #A45FA6 137.4%);
  background: linear-gradient(90deg, #F3725A -38.98%, #A45FA6 137.4%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.55s ease-in-out;
  -o-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out;
}

.first__content a.link:hover:after {
  opacity: 1;
}

.first__content p {
  font-family: "EBGaramond-Regular", sans-serif;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.015em;
  color: #FFFFFF;
  margin-top: 95px;
  margin-bottom: -2px;
}

.first__content a.telephone {
  font-family: "EBGaramond-Regular", sans-serif;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.015em;
  color: #F3725A;
  display: inline-block;
  position: relative;
}

.first__content a.telephone:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #F3725A;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.65s ease-in-out;
  -o-transition: all 0.65s ease-in-out;
  transition: all 0.65s ease-in-out;
}

.first__content a.telephone:hover:after {
  opacity: 0;
}

/*
    video style
 */
.video {
  padding: 55px 0;
  position: relative;
}

@media (max-width: 979px) {
  .video {
    padding: 35px 0;
  }
}

.video__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 979px) {
  .video__content {
    display: block;
  }
}

.video__content-clip {
  width: 553px;
}

@media (max-width: 979px) {
  .video__content-clip {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .video__content-clip {
    width: 100%;
    max-width: 553px;
  }
}

.video__content-clip figure {
  height: 304px;
  position: relative;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .video__content-clip figure {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 767px) {
  .video__content-clip figure {
    height: auto;
    padding-bottom: 55%;
  }
}

.video__content-clip figure .video-play {
  width: 62px;
  height: 62px;
  background: url("../img/video/video-play.png") no-repeat center/cover;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 576px) {
  .video__content-clip figure .video-play {
    width: 33px;
    height: 33px;
  }
}

.video__content-clip figure:hover .video-play {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
      -ms-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.video__content-info {
  width: 458px;
}

@media (max-width: 1199px) {
  .video__content-info {
    width: 380px;
  }
}

@media (max-width: 979px) {
  .video__content-info {
    width: 100%;
    margin: 20px auto 0;
  }
}

.video__content-info h3 {
  margin-bottom: 20px;
}

@media (max-width: 979px) {
  .video__content-info h3 {
    text-align: center;
  }
}

.video:before {
  content: "";
  display: block;
  width: 100%;
  height: 506px;
  background: url("../img/snow.png") no-repeat center/cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.delivery__content h5 {
  margin: 5px auto 12px;
}

.delivery__content > p {
  font-family: "EBGaramond-Regular", sans-serif;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #fff;
}

.delivery__content > p span {
  text-transform: uppercase;
  color: #F3725A;
}

.delivery__content-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.delivery__content-block figure {
  position: relative;
  width: 30%;
}

.delivery__content-block figure > span {
  font-family: "YesevaOne-Regular", sans-serif;
  font-size: 200px;
  line-height: 231px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #A45FA6), to(#F3725A));
  background: -o-linear-gradient(top, #A45FA6 30%, #F3725A 100%);
  background: linear-gradient(to bottom, #A45FA6 30%, #F3725A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #A45FA6;
  display: table;
}

.delivery__content-block figure p {
  font-family: "EBGaramond-Regular", sans-serif;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.015em;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 79px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.delivery__content-block figure p span {
  font-family: "EBGaramond-Regular", sans-serif;
  font-size: 25px;
  line-height: 33px;
  color: #fff;
  letter-spacing: 0.015em;
  display: block;
  text-align: left;
}

.catalog {
  padding: 83px 0 0;
}

.catalog__content-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 54px;
}

.catalog__content-block figure {
  background: red;
}

/*
    photo style
 */
@media (max-width: 979px) {
  .photo__content a {
    width: 24%;
  }
}

@media (max-width: 576px) {
  .photo__content a {
    width: 48%;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .photo__content a:nth-child(3) {
    margin-bottom: 0;
  }
}

@media (max-width: 979px) {
  .photo__content a:last-child {
    display: none;
  }
}

@media (max-width: 576px) {
  .photo__content a:last-child {
    margin-bottom: 0;
  }
}

/*
    review style
 */
.review {
  padding: 55px 0 35px;
  position: relative;
}

@media (max-width: 979px) {
  .review {
    padding-top: 35px;
  }
}

.review__content h3 {
  text-align: center;
}

@media (max-width: 576px) {
  .review__content h3 {
    line-height: 46px;
  }
}

@media (max-width: 576px) {
  .review__content h3 span {
    display: block;
    font-size: 36px;
    line-height: 35px;
  }
}

.review__content-slider {
  position: relative;
}

@media (max-width: 1199px) {
  .review__content-slider {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 25px;
  }
}

@media (max-width: 979px) {
  .review__content-slider {
    padding: 0;
  }
}

.review__content-slider .owl-stage-outer {
  margin: 0 -20px;
}

.review__content-slider .owl-stage {
  margin: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0;
}

.review__content-slider figure {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 34px 45px;
  background: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  position: relative;
}

@media (max-width: 767px) {
  .review__content-slider figure {
    padding: 20px 12px;
  }
}

.review__content-slider figure h5 {
  text-align: left;
  margin-bottom: 27px;
}

.review__content-slider figure:after {
  content: "";
  display: block;
  width: 95px;
  height: 15px;
  background: url("../img/star.png") no-repeat center/cover;
  position: absolute;
  top: 46px;
  right: 49px;
}

@media (max-width: 1199px) {
  .review__content-slider figure:after {
    right: 15px;
  }
}

@media (max-width: 767px) {
  .review__content-slider figure:after {
    top: 32px;
    right: 12px;
  }
}

.review__content-slider .owl-nav button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.review__content-slider .owl-nav button.owl-prev {
  left: -42px;
}

@media (max-width: 1599px) {
  .review__content-slider .owl-nav button.owl-prev {
    left: -25px;
  }
}

@media (max-width: 1199px) {
  .review__content-slider .owl-nav button.owl-prev {
    left: 0;
  }
}

.review__content-slider .owl-nav button.owl-next {
  -webkit-transform: translateY(-50%) scale(-1, 1);
      -ms-transform: translateY(-50%) scale(-1, 1);
          transform: translateY(-50%) scale(-1, 1);
  right: -42px;
}

@media (max-width: 1599px) {
  .review__content-slider .owl-nav button.owl-next {
    right: -25px;
  }
}

@media (max-width: 1199px) {
  .review__content-slider .owl-nav button.owl-next {
    right: 0;
  }
}

.review:before {
  content: "";
  display: block;
  width: 100%;
  height: 506px;
  background: url("../img/snow.png") no-repeat center/cover;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*
    footer style
 */
.footer {
  background: url("../img/footer/bg.jpg") no-repeat center/cover;
  -webkit-filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
  padding: 55px 0 59px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .footer {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 979px) {
  .footer {
    padding: 35px 0;
  }
}

@media (max-width: 767px) {
  .footer {
    background: transparent;
    position: relative;
    z-index: 9;
  }
}

.footer .delivery h3 {
  text-align: center;
}

@media (max-width: 576px) {
  .footer .delivery h3 {
    line-height: 46px;
  }
}

.footer .delivery__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 928px;
  margin: 20px auto 0;
}

@media (max-width: 767px) {
  .footer .delivery__content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    max-width: 540px;
  }
}

@media (max-width: 767px) {
  .footer .delivery__content figure {
    width: 48%;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .footer .delivery__content figure {
    width: 100%;
  }
}

.footer .delivery__content figure p {
  text-align: center;
  color: #fff;
  margin-top: 1px;
}

@media (max-width: 767px) {
  .footer .delivery__content figure p br {
    display: none;
  }
}

@media (max-width: 576px) {
  .footer .delivery__content figure p br {
    display: block;
  }
}

@media (max-width: 767px) {
  .footer .delivery__content figure:nth-child(3) {
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  .footer .delivery__content figure:nth-child(3) {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .footer .delivery__content figure:last-child {
    margin-bottom: 0;
  }
}

.footer .information {
  width: 500px;
  margin: 55px 0 0 auto;
  position: relative;
}

@media (max-width: 979px) {
  .footer .information {
    margin: 35px auto 0;
  }
}

@media (max-width: 576px) {
  .footer .information {
    width: 100%;
  }
}

.footer .information .logo {
  position: absolute;
  top: 93px;
  left: -649px;
}

@media (max-width: 1199px) {
  .footer .information .logo {
    left: -449px;
  }
}

@media (max-width: 979px) {
  .footer .information .logo {
    position: static;
  }
}

.footer .information .logo svg {
  height: 96px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .footer .information .logo svg {
    height: 60px;
  }
}

.footer .information .logo svg path {
  fill: #fff;
}

.footer .information .logo svg:nth-child(1) {
  width: 172px;
  margin-bottom: 9px;
}

@media (max-width: 576px) {
  .footer .information .logo svg:nth-child(1) {
    width: 107px;
    margin-bottom: 7px;
  }
}

.footer .information .logo svg:nth-child(2) {
  width: 363px;
}

@media (max-width: 576px) {
  .footer .information .logo svg:nth-child(2) {
    width: 226px;
  }
}

@media (max-width: 979px) {
  .footer .information h2 {
    margin: 20px auto -2px;
  }
}

.footer .information .price {
  margin: 17px auto 33px;
}

@media (max-width: 979px) {
  .footer .information .price {
    margin: 0 auto 0;
  }
}

.footer .information .price span.old-price {
  color: #fff;
}

.footer .information .price span.old-price:after {
  background: #fff;
}

.footer .information .to-order {
  margin: 0 auto;
}

@media (max-width: 979px) {
  .footer .information .to-order {
    margin-top: 6px;
  }
}

.footer .information .to-order p {
  color: #fff;
}

@media (max-width: 767px) {
  .footer:before {
    content: "";
    display: block;
    width: 1920px;
    height: 100%;
    background: url("../img/footer/bg-s.jpg") no-repeat center/cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -1;
  }
}

/*# sourceMappingURL=style.css.map */
