/*
    font face
 */

@font-face {
  font-family: "EBGaramond-Regular";
  src: url("../fonts/EBGaramond-Regular.woff");
}
$ebgr : "EBGaramond-Regular";

@font-face {
  font-family: "YesevaOne-Regular";
  src: url("../fonts/YesevaOne-Regular.woff");
}
$yor : "YesevaOne-Regular";


@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.woff");
}
$r : "OpenSans-Regular";

@font-face {
  font-family: "Oswald-Bold";
  src: url("../fonts/Oswald-Bold.woff");
}
$b : "Oswald-Bold";

@font-face {
  font-family: "Oswald-Regular";
  src: url("../fonts/Oswald-Regular.woff");
}
$or : "Oswald-Regular";

