.catalog {
  padding: 83px 0 0;

  &__content {

    &-block {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 54px;
      //grid-row-gap: 1em;

      figure {
        background: red;
      }
    }
  }
}