/*
    advantages style
 */

.advantages {
  padding: 85px 0 25px;
  position: relative;

  @include mq(md) {
    padding: 55px 0 35px;
  }

  &__content {
    position: relative;

    h3 {
      text-align: center;
      color: #a87eff;

      @include mq(s) {
        font-size: 42px;
        line-height: 61px;
      }

      @include mq(xs) {
        font-size: 36px;
        line-height: 53px;
      }
    }

    &-block {
      max-width: 750px;
      margin: 20px auto 0;
      display: flex;
      justify-content: space-between;

      @include mq(s) {
        display: block;
      }

      figure {
        text-align: center;
        box-sizing: border-box;
        width: 32%;
        max-width: 236px;
        padding: 22px 27px;
        background: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

        @include mq(s) {
          width: 81%;
          min-width: 236px;
          max-width: 100%;
          margin: 0 auto 20px;
        }

        img {

        }

        h5 {
          color: #9968ff;
          margin: 11px auto 10px;
        }

        p {
          line-height: 18px;
        }
      }
    }

    .logo {
      position: absolute;
      top: 115px;

      @include mq(xl) {
        top: 135px;
      }

      @include mq(lg) {
        display: none;
      }

      svg {
        height: 88px;
        display: block;
        margin: 0 auto;

        @include mq(xl) {
          height: 72px;
        }

        @include mq(xl) {
          height: 57px;
        }

        path {
          fill-opacity: .1;
        }

        &:nth-child(1) {
          width: 157px;

          @include mq(xl) {
            width: 127px;
          }

          @include mq(xl) {
            width: 100px;
          }
        }

        &:nth-child(2) {
          width: 333px;
          margin-top: 10px;

          @include mq(xl) {
            width: 270px;
          }

          @include mq(xl) {
            width: 213px;
          }
        }
      }

      &:nth-child(3) {
        left: -227.95px;

        @include mq(xxl) {
          left: -200px;
        }

        @include mq(xl) {
          left: -26px;
        }
      }

      &:nth-child(4) {
        right: -273px;

        @include mq(xxl) {
          right: -200px;
        }

        @include mq(xl) {
          right: -26px;
        }
      }
    }
  }

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 1062px;
    background: url("../img/frozen.jpg") no-repeat center/cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}