/*
    header style
 */

.header {
  background: url("../img/header/bg.jpg") no-repeat center/cover;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  padding: 52px 0 55px;
  position: relative;
  z-index: 11;

  @include mq(lg) {
    background-position: left top;
  }

  @include mq(md) {
    background-image: url("../img/header/bg-md.jpg");
    padding: 35px 0 0;
  }

  &__content {
    position: relative;

    .logo {

      svg {
        display: block;
        height: 49px;
        margin: 0 auto;

        @include mq(md) {
          margin: 0;
        }

        @include mq(xs) {
          height: 36px;
        }

        path {
          fill: #000;

          @include mq(md) {
            fill: #fff;
          }
        }

        &:nth-child(1) {
          width: 88px;

          @include mq(xs) {
            width: 64px;
          }
        }

        &:nth-child(2) {
          width: 186px;
          margin-top: 6px;

          @include mq(xs) {
            width: 135px;
            margin-top: 4px;
          }
        }
      }
    }

    .sale {
      position: absolute;
      top: -10px;

      &:nth-child(2) {
        left: 0;

        @include mq(md) {
          display: none;
        }
      }

      &:nth-child(3) {
        right: 0;

        @include mq(md) {
          top: -35px;
        }

        @include mq(xs) {
          top: -30px;
        }
      }
    }

    h2 {
      color: #9968ff;
      max-width: 500px;
      margin: 30.39px auto 17px;

      @include mq(md) {
        margin: 106.52px auto -3px;
      }
    }

    .price {

    }

    .to-order {

      @include mq(md) {
        margin: 6px auto -48px;
      }

      @include mq(xs) {
        margin-bottom: -10%;
      }
    }

    img {
      position: absolute;

      &.white {
        bottom: -104.16px;
        left: 46.08px;

        @include mq(lg) {
          left: 0;
        }

        @include mq(md) {
          position: relative;
          top: 38px;
          left: 0;
          margin: 0;
        }

        @include mq(s) {
          left: -20px;
        }

        @include mq(xs) {
          width: 60%;
          left: -5%;
        }
      }

      &.black {
        bottom: -115.44px;
        right: 51.2px;

        @include mq(lg) {
          right: 0;
        }

        @include mq(md) {
          bottom: -55px;
        }

        @include mq(s) {
          right: -25px;
        }

        @include mq(xs) {
          width: 61%;
          min-width: 177px;
          right: -5%;
        }
      }
    }
  }
}