/*
    catalog style
 */

.catalog {
  padding: 55px 0;

  @include mq(md) {
    padding: 35px 0;
  }

  .container {
    position: relative;

    &:before, &:after {
      content: "";
      display: block;
      width: 194px;
      height: 1135px;
      background: url("../img/catalog/logo.png") no-repeat center/cover;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &:before {
      left: -267px;

      @include mq(xxl) {
        left: -214px;
      }

      @include mq(xl) {
        display: none;
      }
    }

    &:after {
      right: -267px;

      @include mq(xxl) {
        right: -214px;
      }

      @include mq(xl) {
        display: none;
      }
    }
  }

  .price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 10px;
    right: 30px;

    @include mq(md) {
      display: block;
      text-align: center;
      position: static;
    }

    span {

      &.old-price {
        order: 2;
        margin: -3px 0 0;
      }

      &.new-price {
        order: 1;
      }
    }
  }

  form {
    width: 250px;

    @include mq(xs) {
      width: 81%;
      min-width: 250px;
      max-width: 380px;
      margin: 0 auto;
    }

    .form-group {

      input {
        font-family: $r, sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: #000;
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 5px 10px;
        background: transparent;
        border: 1px solid #000;
        transition: all 0.5s ease-in-out;

        &::placeholder {
          font-family: inherit;
          font-size: inherit;
          line-height: inherit;
          color: inherit;
          opacity: 1;
        }

        &:active, &:focus, &:required {
          outline: none;
        }

        &:active, &:focus {
          color: #fe5555;
          border: 1px solid #fe5555;
        }
      }

      &.tel {
        margin: 10px auto;
      }
    }
  }

  &__shoe {
    box-sizing: border-box;
    padding: 29px 30px 30px;
    background: url("../img/frozen.jpg") no-repeat center/cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    position: relative;

    @include mq(md) {
      padding: 20px 0;
    }

    .logo {
      display: flex;
      width: 459px;
      margin-left: auto;

      @include mq(md) {
        width: 100%;
        justify-content: center;
        margin: 0 auto;
      }

      svg {
        height: 39px;

        &:nth-child(1) {
          width: 69px;
          margin-right: 13.85px;
        }

        &:nth-child(2) {
          width: 146px;
        }
      }
    }

    &-title {
      width: 459px;
      margin: 10px 0 15px auto;
      display: flex;
      align-items: center;

      @include mq(md) {
        width: 100%;
        justify-content: center;
        margin: 11px auto -7px;
      }

      figure {

        &:nth-child(1) {

          img {
            width: 32px;
          }
        }

        &:nth-child(2) {
          margin-top: 7px;
        }
      }

      h5 {
        color: #9968ff;
        margin: 0 23px 0 13px;
      }
    }

    .price {

    }

    &-img {
      box-sizing: border-box;
      width: 560px;
      padding: 74px 0 27px 30px;
      background: linear-gradient(136.81deg, rgba(168, 126, 255, 0.8) 0%, rgba(252, 167, 228, 0.8) 100%);
      position: absolute;
      top: 0;
      left: 0;

      @include mq(lg) {
        width: 435px;
        padding-left: 15px;
      }

      @include mq(md) {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 0;
        margin: 20px auto;
      }

      .color {
        width: 72px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 30px;
        right: 22px;
        z-index: 15;

        @include mq(md) {
          right: 130px;
        }

        @include mq(xs) {
          right: 12px;
        }

        span {
          box-sizing: border-box;
          width: 36px;
          height: 36px;
          background: transparent;
          border: 2px solid transparent;
          cursor: pointer;
          position: relative;
          transition: all 0.5s ease-in-out;

          &:before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          &.white {

            &:before {
              background: #fff;
            }

            &.active {
              border: 2px solid #fff;
            }
          }

          &.black {

            &:before {
              background: #000;
            }

            &.active {
              border: 2px solid #000;
            }
          }
        }
      }

      img.big {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -75px;
        transition: opacity 0.5s ease-in-out;

        @include mq(lg) {
          width: 345px;
          right: -30px;
        }

        @include mq(md) {
          position: static;
          transform: none;
        }

        @include mq(xs) {
          width: 86%;
          min-width: 251px;
        }
      }

      .images {
        margin-bottom: 23px;

        @include mq(md) {
          display: flex;
          justify-content: space-between;
          max-width: 460px;
          margin: 22px auto;
        }

        a {
          margin-bottom: 10px;
          width: 100px;

          img {
            width: 100%;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      h6 {

        @include mq(md) {
          text-align: center;
        }
      }

    }

    ul {
      width: 459px;
      margin-left: auto;

      @include mq(md) {
        margin: 0 auto;
      }

      @include mq(xs) {
        width: 254px;
      }

      li {
        display: flex;

        span {
          line-height: 24px;
          display: block;

          @include mq(xs) {
            font-size: 12px;
            line-height: 20px;
          }

          &:nth-child(1) {
            width: 289px;

            @include mq(md) {
              width: 249px;
            }

            @include mq(xs) {
              width: 42%;
              min-width: 109px;
              //width: 109px;
            }
          }

          &:nth-child(2) {
            width: calc(100% - 289px);

            @include mq(md) {
              width: calc(100% - 249px);
            }

            @include mq(xs) {
              width: 58%;
              //width: calc(100% - 109px);
            }
          }
        }
      }
    }

    &-info {
      width: 459px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 27px 0 0 auto;

      @include mq(md) {
        margin: 46px auto 0;
      }

      @include mq(xs) {
        width: 100%;
        display: block;
      }

      .size {
        width: 92px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include mq(xs) {
          width: 251px;
          margin: 0 auto 20px;
        }

        p {
          text-align: center;
          box-sizing: border-box;
          width: 36px;
          padding: 7.5px 0;
          border: 1px solid #000;
          cursor: pointer;
          position: relative;
          transition: all 0.5s ease-in-out;
          z-index: 9;

          span {
            text-align: left;
            color: #a87eff;
            display: block;
            width: 55px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -65px;
            cursor: auto;
            opacity: 0;
            transition: inherit;

            @include mq(xs) {
              text-align: center;
              top: -26px;
              left: 50% !important;
              transform: translateX(-50%);
            }
          }

          &:before {
            content: "";
            display: block;
            width: 36px;
            height: 36px;
            background: linear-gradient(135deg, #fca7e4 0%, #a87eff 100%);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            opacity: 0;
            transition: inherit;
          }

          &.active {
            color: #fff;

            span {
              opacity: 1;
            }

            &:before {
              opacity: 1;
            }
          }

          &:nth-child(odd) {

            span {
              right: -121px;
            }
          }

          &:nth-child(3), &:nth-child(4) {
            margin: 20px 0;

            @include mq(xs) {
              margin: 0;
            }
          }
        }
      }
    }

    &.boots {

    }

    &.sneakers {
      margin: 20px auto;

      .catalog__shoe-img {

        @include mq(md) {
          padding-top: 105px;
        }

        .images {

          @include mq(md) {
            margin-top: 35px;
          }
        }
      }
    }
  }

  &__spray {
    box-sizing: border-box;
    padding: 10px 0 41px;
    background: url("../img/frozen.jpg") no-repeat center/cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    position: relative;

    @include mq(md) {
      padding: 2px 0 20px;
    }

    h3 {
      text-transform: uppercase;
      color: #000;
      margin: 0 0 48px 300px;

      @include mq(md) {
        margin: 0 auto;
        text-align: center;
      }
    }

    .price {
      margin: 0 auto 20px;
    }

    &-img {
      box-sizing: border-box;
      padding: 16px 27.5px 23px;
      background: linear-gradient(136.81deg, rgba(168, 126, 255, 0.8) 0%, rgba(252, 167, 228, 0.8) 100%);
      position: absolute;
      top: 0;
      left: 0;

      @include mq(md) {
        position: static;
        width: 100%;
        padding: 20px 0;
      }
    }

    ul {
      width: 249px;
      position: absolute;
      top: 129px;
      right: 0;

      @include mq(md) {
        position: static;
        margin: 40px auto 20px;
      }

      li {
        display: flex;

        span {
          display: block;
          line-height: 24px;

          &:nth-child(1) {
            width: 115px;
          }

          &:nth-child(2) {
            width: calc(100% - 115px);
          }
        }
      }
    }

    p {
      width: 436px;
      margin-left: 300px;

      @include mq(lg) {
        width: 356px;
      }

      @include mq(md) {
        box-sizing: border-box;
        padding: 0 30px;
        width: 100%;
        margin: 0 auto;
      }

      @include mq(xs) {
        padding: 0 15px;
      }

      &:nth-of-type(2) {
        margin: 41.5px 0 41.5px 300px;

        @include mq(md) {
          margin: 20px auto;
        }
      }

    }

    form {
      position: absolute;
      bottom: 30px;
      right: 30px;

      @include mq(md) {
        position: static;
        margin: 20px auto 0;
      }
    }
  }
}