/*
    general style
 */

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  background: #0C0C0C;
  font-family: $r, sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #000;
}

.container {
  width: 1140px;
  margin: 0 auto;

  @include mq(lg) {
    width: 960px;
  }

  @include mq(md) {
    width: 720px;
  }

  @include mq(s) {
    width: 94%;
  }

  @include mq(xs) {
    width: 90%;
    min-width: 290px;
  }
}

a {
  display: block;
  text-decoration: none;
  text-align: center;

  &:active, &:focus {
    outline: none;
  }
}

img {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  user-select: none;
}

h1, h2 {
  font-family: $yor, sans-serif;
  font-size: 60px;
  line-height: 69px;
  letter-spacing: 0.01em;
  max-width: 765px;
  margin: 18px auto 36px;
  text-align: center;
  color: #fff;
}

h3 {
  font-family: $ebgr, sans-serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

h5 {
  font-family: $ebgr, sans-serif;
  font-size: 25px;
  line-height: 33px;
  letter-spacing: 0.015em;
  color: #fff;
  text-align: center;
}

h6 {
  line-height: 24px;
}

p {

  &.big {
    line-height: 24px;
  }
}

.logo {

  svg {
    display: block;
  }
}

.sale {

  span {
    font-family: $b, sans-serif;
    font-size: 96px;
    line-height: 142px;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: #fff;

    @include mq(s) {
      font-size: 80px;
      line-height: 118px;
    }

    @include mq(xs) {
      font-size: 64px;
      line-height: 95px;
    }

    strong {
      display: block;
      font-size: 72px;
      line-height: 107px;
      margin-top: -27px;

      @include mq(s) {
        font-size: 60px;
        line-height: 88px;
      }

      @include mq(xs) {
        font-size: 48px;
        line-height: 71px;
      }
    }
  }
}

.price {
  text-align: center;

  span {
    font-family: $b, sans-serif;

    &.old-price {
      font-size: 24px;
      line-height: 36px;
      display: inline-block;
      position: relative;
      margin-right: 44.08px;

      @include mq(s) {
        font-family: $or, sans-serif;
        margin-right: 8px;
      }

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: #000;
        position: absolute;
        top: 60%;
        left: 0;
        transform: translateY(-55%);
      }
    }

    &.new-price {
      font-size: 48px;
      line-height: 71px;
      background: linear-gradient(93.27deg, #fe5555 0.08%, #fe9255 99.94%);;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #fe5555;

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        background: transparent;
      }
    }
  }
}

.to-order, .form-group.order {

  a, button {
    font-family: $b, sans-serif;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #fff;
    box-sizing: border-box;
    width: 100%;
    padding: 16px 0 17px;
    border: none;
    position: relative;
    z-index: 9;

    &:before, &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    &:before {
      background: linear-gradient(93.27deg, #fe5555 0.08%, #fe9255 99.94%);
    }

    &:after {
      background: linear-gradient(93.3deg, #fe9255 0%, #fe5555 100%);
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }

    &:hover {

      &:after {
        opacity: 1;
      }
    }
  }
}

.to-order {
  margin: 32px auto 0;
  max-width: 250px;

  @include mq(xs) {
    width: 81%;
    min-width: 250px;
    max-width: 380px;
  }

  p {
    text-align: center;
    margin-top: 32px;

    @include mq(md) {
      margin-top: 13px;
    }
  }
}

.gallery, .photo {
  position: relative;
  z-index: 11;

  &__content {
    box-sizing: border-box;
    width: 100%;
    max-width: 1920px;
    padding: 0 6px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

    @include mq(s) {
      padding: 0 15px;
    }

    >a {
      width: 19.2%;
      max-width: 365px;
      filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
      }

      @include mq(xl) {
        width: 19%;
      }

      img {
        width: 100%;
      }
    }
  }
}

.owl-dots {
  display: flex;
  justify-content: center;

  button {
    box-sizing: border-box;
    width: 7px;
    height: 7px;
    background: transparent !important;
    border: 1px solid #fff !important;
    border-radius: 50%;
    margin-right: 9px;

    &.active {
      background: #fff !important;
    }
  }
}

a.cart {
  width: 90px;
  height: 90px;
  background: linear-gradient(93.27deg, #fe5555 0.08%, #fe9255 99.94%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  transition: all 0.5s ease-in-out;

  @include mq(xs) {
    width: 50px;
    height: 50px;
    right: 15px;
  }

  &:after {
    content: "";
    display: block;
    width: 50px;
    height: 44px;
    background: url("../img/cart.png") no-repeat center/cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mq(xs) {
      width: 28px;
      height: 26px;
    }
  }

  &:hover {
    transform: scale(1.2);
  }
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(91.67deg, rgb(252, 167, 228) 0%, rgb(168, 126, 255) 100%);
  z-index: 99999;
  transition: all 0.5s ease-in-out;

  &__snow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/snowflake1.png"), url("../img/snowflake2.png"), url("../img/snowflake3.png");
    animation: snow 20s linear infinite;
  }
}

@keyframes snow {
  0% {background-position: 0 0, 0 0, 0 0;}
  100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}