/*
    footer style
 */

.footer {
  background: url("../img/footer/bg.jpg") no-repeat center/cover;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
  padding: 55px 0 59px;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  }

  .delivery {

    h3 {
      text-align: center;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      max-width: 928px;
      margin: 20px auto 0;

      figure {

        img {

        }

        p {
          text-align: center;
          color: #fff;
          margin-top: 1px;
        }
      }
    }
  }

  .information {
    width: 500px;
    margin: 55px 0 0 auto;
    position: relative;

    .logo {
      position: absolute;
      top: 93px;
      left: -649px;

      svg {
        height: 96px;
        margin: 0 auto;

        path {
          fill: #fff;
        }

        &:nth-child(1) {
          width: 172px;
          margin-bottom: 9px;
        }

        &:nth-child(2) {
          width: 363px;
        }
      }
    }

    h2 {

    }

    .price {
      margin: 17px auto 33px;

      span {

        &.old-price {
          color: #fff;

          &:after {
            background: #fff;
          }
        }
      }
    }

    .to-order {
      margin: 0 auto;

      p {
        color: #fff;
      }
    }
  }
}