.header {
  padding: 19px;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      position: relative;
      padding: 20px 0;

      a {
        font-family: $ebgr, sans-serif;
        font-size: 18px;
        line-height: 23px;
        color: #fff;

        img {

        }
      }

      >ul {
        position: absolute;
        bottom: -72px;
        left: -21px;
        background: #000000;
        box-shadow: 0px 1px 16px rgba(255, 255, 255, 0.36);
        padding: 13px 20px 18px;
        opacity: 0;
        transition: all 0.55s ease-in-out;

        li {
          padding: 0;

          a {


          }

          &:first-child {
            margin-bottom: 8px;
          }
        }
      }

      &:nth-child(5) {
        padding: 0;
      }

      &:hover {

        >ul {
          opacity: 1;
        }
      }
    }
  }
}