/*
    video style
 */

.video {
  padding: 55px 0;
  position: relative;

  @include mq(md) {
    padding: 35px 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq(md) {
      display: block;
    }

    &-clip {
      width: 553px;

      @include mq(md) {
        margin: 0 auto;
      }

      @include mq(s) {
        width: 100%;
        max-width: 553px;
      }

      figure {
        height: 304px;
        position: relative;
        cursor: pointer;
        filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
        }

        @include mq(s) {
          height: auto;
          padding-bottom: 55%;
        }

        .video-play {
          width: 62px;
          height: 62px;
          background: url("../img/video/video-play.png") no-repeat center/cover;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          pointer-events: none;
          transition: all 0.5s ease-in-out;

          @include mq(xs) {
            width: 33px;
            height: 33px;
          }
        }

        &:hover {

          .video-play {
            transform: translate(-50%, -50%) scale(1.2);
          }
        }
      }
    }

    &-info {
      width: 458px;

      @include mq(lg) {
        width: 380px;
      }

      @include mq(md) {
        width: 100%;
        margin: 20px auto 0;
      }

      h3 {
        margin-bottom: 20px;

        @include mq(md) {
          text-align: center;
        }
      }
    }
  }

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 506px;
    background: url("../img/snow.png") no-repeat center/cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}