/*
    gallery style
 */

.gallery {

  &__content {

    &-block {
      margin-top: 20px;
      box-sizing: border-box;
      width: 59.6%;
      max-width: 1135px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
      position: relative;

      img {
        width: 100%;
      }

      h1, .price, .to-order {
        left: 50%;
        transform: translateX(-50%);
      }

      h1 {
        width: 100%;
        position: absolute;
        top: 9.86%;

        @include mq(xxl) {
          font-size: 86px;
          line-height: 130px;
          top: 0;
        }

        @include mq(xl) {
          font-size: 76px;
          line-height: 114px;
          top: -4%;
        }
      }

      .price {
        position: absolute;
        top: 47.12%;

        @include mq(xxl) {
          top: 38.12%;
        }

        @include mq(xl) {
          top: 34.12%;
        }
      }

      .to-order {
        width: 250px;
        position: absolute;
        bottom: 9.86%;

        @include mq(xl) {
          bottom: 5.86%;
        }
      }
    }
  }
}