/*
    gallery style
 */

.gallery {

  &__content {

    >a {

      @include mq(md) {
        width: 32%;
        margin-bottom: 20px;
      }

      @include mq(xs) {
        width: 48%;
        min-width: 141px;
        margin-bottom: 10px;
      }

      &:nth-child(1) {

        @include mq(md) {
          order: 1;
        }
      }

      &:nth-child(2) {

        @include mq(md) {
          display: none;
        }
      }

      &:nth-child(3) {

        @include mq(md) {
          order: 2;
        }
      }

      &:nth-child(4) {

        @include mq(md) {
          order: 3;
        }
      }

      &:nth-child(5) {

        @include mq(md) {
          order: 4;
        }
      }

      &:nth-child(6) {

        @include mq(md) {
          order: 6;
        }

        @include mq(xs) {
          order: 7;
          margin-bottom: 0;
          margin-top: 10px;
        }
      }

      &:nth-child(8) {

        @include mq(md) {
          order: 5;
        }

        @include mq(xs) {
          order: 6;
          margin-bottom: 0;
          margin-top: 10px;
        }
      }
    }

    &-block {
      margin-top: 20px;
      box-sizing: border-box;
      width: 59.6%;
      max-width: 1135px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
      position: relative;

      @include mq(md) {
        width: 100%;
        padding: 7px 10px 20px;
        background: url("../img/gallery/big-s.jpg") no-repeat top/cover;
        margin-top: 0;
        order: 7;
      }

      @include mq(xs) {
        order: 5;
        padding: 7px 0 20px;
      }

      img {
        width: 100%;

        @include mq(md) {
          display: none;
        }
      }

      h1, .price, .to-order {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        @include mq(md) {
          position: static;
          transform: none;
        }
      }

      h1 {
        width: 100%;
        top: 9.86%;

      }

      .price {
        top: 47.12%;

        @include mq(xxl) {
          top: 38.12%;
        }

        @include mq(xl) {
          top: 34.12%;
        }
      }

      .to-order {
        width: 250px;
        bottom: 9.86%;

        @include mq(xl) {
          bottom: 5.86%;
        }

        @include mq(md) {
          margin-top: 10px;
        }

        @include mq(xs) {
          width: 81%;
          min-width: 250px;
          max-width: 380px;
        }
      }
    }
  }
}